.menu-btn1{
  height: 30px;
  width: 30px;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 9999;
  cursor: pointer;
  background: url(../img/menu-icon-wht.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.control-panel{
  position: fixed;
  bottom: 5px;
  right: -500px;  
  transition: .3s ease all;
  display:  flex;
  flex-direction: column;
  z-index: 9999;
}

.control-panel-active{
  right: 5px;
}

#p5-main-view{
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}


.ui-board{
  height: 50px;
  width: 150px;
  position: fixed;  
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.lifeboard{
  display: none;
  bottom: 0;
  right: 0;
}

.lifeboard-meter1{
  height: 12px;
  top: -12px; /* opposite of the height, so it sits directly on top*/
  width: 100%;
  background: rgb(45, 223, 255);
  position: absolute;
}


.dev-btn{
  padding: 5px 10px;
  cursor: pointer;
}


.lifeboard-avatar{
  max-width: 15px;
}