.control_panel{
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1000;
}

#p5-main_view{
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}


.ui-board{
  height: 50px;
  width: 150px;
  position: fixed;  
  z-index: 9999;
  background: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.lifeboard{
  display: none;
  bottom: 0;
  right: 0;
}

.lifeboard-meter1{
  height: 12px;
  top: -12px; /* opposite of the height, so it sits directly on top*/
  width: 100%;
  background: rgb(45, 223, 255);
  position: absolute;
}


.dev-btn{
  padding: 5px 10px;
  cursor: pointer;
}


.lifeboard-avatar{
  max-width: 15px;
}