.bg-star {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
}

.bg-planet{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

.pattern-vert-lines{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 24px 24px;
    background-image:  repeating-linear-gradient(to right, #444cf7, #444cf7 1.2000000000000002px, #e5e5f7 1.2000000000000002px, #e5e5f7);
}


.pattern-squares{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-linear-gradient(45deg, #444cf7 25%, transparent 25%, transparent 75%, #444cf7 75%, #444cf7), repeating-linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%, #e5e5f7 75%, #444cf7 75%, #444cf7);
    background-position: 0 0, 12px 12px;
    background-size: 24px 24px;
}

.pattern-cubes{
    background-color: #434376;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
    background-size: 24px 42px;
    background-position: 0 0, 0 0, 12px 21px, 12px 21px, 0 0, 12px 21px;
}

.rotate-clockwise {
    animation: rotate_clockwise 60s linear infinite;
}

.rotate-anti-clock{
    animation: rotate_anti_clockwise 60s linear infinite;
}
  
  @keyframes rotate_clockwise {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate_anti_clockwise {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }