.control_panel{
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1000;
  }
  
  .main_view{
    height: 100vh;
    width: 100vw;
    /*background: red;*/
    position: relative;
  /*   z-index: 1000; */
    overflow: hidden;
  }
  
  .btn{
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .shape{
    position: absolute !important;
    z-index: 100;
  }
  
  .triangle {
  /*   width: 0;
    height: 0; */
  }
  
  .cursor-pointer{
    cursor: pointer;
  }